.intro {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 0;
}
.intro__text {
  max-width: 540px;
}
.intro__title {
  padding-top: 90px;
  margin-bottom: 30px;
  font-family: gilroy extrabold !important;
  font-size: 85px;
}
.intro__description {
  text-align: left;
  flex-grow: 1;
  font-family: gilroy bold !important;
  font-size: 20px;
}
.intro__buttons {
  display: flex;
  gap: 10px;
  margin-top: 60px;
}
.intro__button {
  padding: 15px 49px;
  font-size: 15px;
  min-width: 181px;
}