@font-face {
   font-family: 'Poppins';
   src: url('/resources/fonts/Poppins-Medium.ttf') format('truetype');
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'gilroy bold';
   src: url('/resources/fonts/gilroy-bold.ttf') format('truetype');
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'gilroy extrabold';
   src: url('/resources/fonts/gilroy-extrabold.ttf') format('truetype');
   font-style: normal;
   font-display: swap;
}